.projetos_container {
  display: flex;
}

.projeto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 350px;
  height: auto;
  border-radius: 10px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  cursor: pointer;
  position: relative;
}

.projetos_container:hover img {
  -webkit-transform: scale(1.05);
   transform: scale(1.05);
}

.projetos_container img{
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.image img {
  width: 350px;
  height: 250px;
  border-radius: 6px;
}
