.habilidade {
  height: 12rem;
  width: 16rem;
  border: 2px solid rgb(22, 48, 40) ;
  color: #000;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 20px;
}

.habilidade h1 {
  font-size: 20px;
  font-weight: 600;
}


.habilidade:hover {
  background-color: #000;
  color: #FFF;
}

@media (max-width: 875px) {
  .habilidade {
    height: 10rem;
    width: 14rem;
  }
}

@media (max-width: 768px) {
  .habilidade {
    height: 8rem;
    width: 12rem;
  }
}