.projetos_container {
  display: flex;
}

.projeto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 350px;
  height: auto;
  border-radius: 10px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  cursor: pointer;
  position: relative;
}

.projeto:hover {
  animation: ease-in-out;
  transition: .3s;
  transform: translateY(-10px);
}

.image img {
  width: 350px;
  height: 250px;
  border-radius: 6px;
}
