.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-inline: 10rem;
  flex-direction: column;
}

.secao_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
}

.texto {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

.texto h1 > span {
  font-size: 3.5rem;
  color: #1d8686;
}

.texto span {
  font-size: 2.5rem;
}

.texto h1 {
  font-size: 3.5rem;
}

.image img {
  width: 400px;
  height: 400px;
}

.sobre {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.titulo_sobre, .skills_sobre {
  margin-bottom: 4rem;
}

.apresentacao {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 3rem;
}

.image_desc img {
  width: 400px;
  height: 400px;
}

.titulo_desc h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #1d8686;
}

.paragrafo_desc p {
  font-size: 1.1rem;
}

.skills {
  margin-top: 4rem;
}

.skills_container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  
}